@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: #0275d465;
  /* color: rgba(0, 0, 0, 0.8); */
  display: grid;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 100vh;
  justify-items: center;
  weight: 100vw;
}

.signup-container {
  display: grid;
  grid-template-areas: "left right";
  max-width: 900px;
}

.left-container {
  background: #307cbb;
  overflow: hidden;
  padding: 40px 0 0 0;
  position: relative;
  text-align: center;
  width: 300px;
}
.left-container h1 {
  color: white;
  display: inline-block;
  font-size: 24px;
}
.left-container h1 i {
  background: #0072CE;
  border-radius: 50%;
  color: #807182;
  font-size: 24px;
  margin-right: 5px;
  padding: 10px;
  transform: rotate(-45deg);
}
.left-container .fitness {
  bottom: -5px;
  position: absolute;
  text-align: center;
}
.left-container .fitness:before {
  background: #307cbb;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.left-container img {
  filter: sepia(100%);
  width: 70%;
}

.right-container {
  background: #053f4d;
  display: grid;
  grid-template-areas: "." ".";
  width: 500px;
}
.right-container h1:nth-of-type(1) {
  color: white;
  font-size: 28px;
  font-weight: 600;
}
.right-container .set {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.right-container .set1{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.right-container input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  height: 38px;
  line-height: 38px;
  padding-left: 5px;
}
.right-container input {
  color: rgba(0, 0, 0, 0.8);
}
.right-container label{
  color: #88f2c2;
}
.right-container header {
  padding: 40px;
}
.right-container label, .right-container input, .right-container .fitness-photo {
  width: 176px;
}
.fitness-name input{
  width: 420px;
}
.right-container .fitness-photo {
  align-items: center;
  display: grid;
  grid-template-areas: ". .";
}
.right-container .fitness-photo button {
  border: none;
  border-radius: 20px;
  height: 38px;
  margin-right: 10px;
  outline: none;
  width: 38px;
}
.right-container .fitness-photo button i {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}
.right-container .fitness-weight .radio-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.right-container footer {
  
  background: #a1820a;
  display: flex;
  
  
}
.right-container footer button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 50px;
  line-height: 38px;
  width: 500px;
/*  border-radius: 10px;*/
  font-family: "Montserrat", sans-serif;
}
.right-container footer #back {
  background: orange;
  transition: 0.2s all ease-in-out;
}
.right-container footer #back:hover {
  background: orange;
  color: black;
}
.right-container footer #next {
  background: #a1820a;
  border: 1px solid transparent;
  color: black;
  font-size: 20px;
  font-weight: bold;
  
}
.right-container footer #next:hover {
  background: orange;
  color: black;
  font-weight: bold;
}

.fitness-name label, .fitness-age label, .fitness-birthday label,.fitness-w label,.fitness-h label, .fitness-gender label, .fitness-spayed-neutered label, .fitness-weight label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.radio-container {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: inline-block;
  padding: 5px;

}

.radio-container label {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: 0.2s all ease-in-out;
  width: 80px;
  color: black;
}

.radio-container input[type=radio] {
  display: none;
}

.radio-container input[type=radio]:checked + label {
  background: orange;
  border: 1px solid rgba(0, 0, 0, 0.1);
}